#gep{width: 400px;
height: 600px;
margin: auto;
background-color: lightgray;
padding-top: 50px;}
#kijelzo{ width: 90%;
height: 100px;
background-color: rgb(7, 114, 7);
line-height: 100px;
color: lightgray;
font-size: 3em;
font-weight: bold;
text-align: right;
overflow: hidden;
margin: auto;}
#gombok{width: 90%;
height: 400px;
background-color: gray;
margin: auto;}
#gombok button{width:25%;
height: 100px;}